---
import BasicLayout from './BasicLayout.astro';
const { title, content, date, description, updatedDate, featuredImage } = Astro.props;
---

<BasicLayout>
			<article>
				<div class="hero-image">
					{featuredImage && <img width={1020} height={510} src={featuredImage.node.mediaItemUrl} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
</BasicLayout>